@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");
$FontFamily: "Roboto", sans-serif;

$Dark1: #111111;
$Dark2: #555555;
$Dark3: #777777;
$Dark4: #999999;
$Light1: #ffffff;
$Light2: #eeeeee;
$Light3: #cccccc;
$Orange: #ee5610;
$Pink: #ff3998;
$Green: #39ffa0;
$Red: #ff3939;
$LightGreen: #edfff6;
$LightOrange: #fff0e8;
